/* this is my custom CSS */

body {
 /* background-image:url('../images/ticks.png');*/
}

/* FOR NAME ONLY */
h1 {
  font-family: "Walter Turncoat", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 4em;
  color: #333;
}
/* FOR LARGE HEADLINES */
h2 {
  font-family: "Walter Turncoat", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 2.5em;
  color: #333;
}
/* FOR SMALL HEADLINES INFO */
h3 {
  font-family: "Walter Turncoat", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.7em;
  color: #333;
}
p {
  font-family: "Lato", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1em;
  color: #333;
}
a {
  color:#5bc0de;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}




/* ===== BOOTSTRAP NAV ===== */
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 20px;
}
.nav-bg {
  background-color: #222;
}
.navbar-inverse {
  border-color: #222;
}
#name-nav img {
  width: 50px;
}
nav ul li {
  padding: 0px 20px;
}





/* ===== HOME SPLASH LANDING ===== */
.splash {
  background-image:url('../images/landscapes/landscape-blanca.jpg');
  background-size: cover;
  padding-top: 130px; /* nav bar is 115px in desktop mode */
  padding-bottom: 130px;
  position: relative;
}

.ux-splash {
  background-image:url('../images/landscapes/landscape-slc.jpg');
}

.web-splash {
  background-image:url('../images/landscapes/landscape-teanaway.jpg');
}

#texture-top1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.splash h1, .splash h2, .splash p {
  color: #eee;
}

.splash a:hover {
  text-decoration: none;
  color: #f0ad4e;
}

.mask {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

h2#job-title {
  margin-bottom: 20px;
}


/* ===== MINI FEATURES ===== */
div.feat-ctr img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

div.feat-ctr h3, div.feat-ctr p {
  text-align: center;
}

div.feat-mini {
  width: 90%;
  display: block;
  margin: 0 auto;
}

/* ==== MEDIUM FEATURES ===== */
#img-holder {

}

/*==== ABOUT ======*/
.about {
  background-image:url('../images/landscapes/landscape-cathedral.jpg');
  background-size: cover;
  position: relative;
}
#texture-bottom1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; 
}
#texture-top2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%; 
}
.about h1, .about p {
  color: #eee;
}
.darkTransparent {
  background-color: rgba(0,0,0,0.6);
}


/*===== CONTACT =====*/

p#call-to-action {
  padding-top: 20px;
}



/* == GENERAL HACKERY == */
img.ctr {
  display: block;
  margin: 0 auto;
}

img.wide {
  width: 100%;
}

.pad {
  padding: 20px;
}

.sidePad {
  padding: 0px 20px;
}

.darkBg {
  background-color: #222;
}

.whiteFont {
  color: #eee;
}


/* ===== BUTTONS ===== */

.my-button {
border: 2px solid #eee;
border-radius: 4px;
background: none;
color: #eee;
margin: -10px 20px;
padding: 8px 14px;
}

/*#btn-half-wide {
  width: 40%;
} *//* for two buttons side-by-side in the same div */

button.my-button:hover {
color: #f0ad4e;
background: none;
border-color: #f0ad4e;
}

/* === GENERAL MARGINS AND PADDING */
.xs-margin-top {
  margin-top: 25px;
}
.small-margin-top {
  margin-top: 50px;
}
.medium-margin-top {
  margin-top: 75px;
}
.big-margin-top {
  margin-top: 100px;
}
.xs-margin-bottom {
  margin-bottom: 25px;
}
.small-margin-bottom {
  margin-bottom: 50px;
}
.medium-margin-bottom {
  margin-bottom: 75px;
}
.big-margin-bottom {
  margin-bottom: 100px;
}

/* padding is used instead of margin in sections 
with colored backgrounds */
.xxl-padding-top {
  padding-top: 200px;
}
.big-padding-top {
  padding-top: 100px;
} 
.medium-padding-top {
  padding-top: 75px;
}
.small-padding-top {
  padding-top: 50px;
}
.xs-padding-top {
  padding-top: 25px;
}
.small-padding-bottom {
  padding-bottom: 50px;
}
.big-padding-bottom {
  padding-bottom: 100px;
}
.xl-padding-bottom {
  padding-bottom: 150px;
}
.xxxl-padding-bottom {
  padding-bottom: 230px;
}



/* === FOR TITLED SECTIONS === */
.white-bg {
  background-color: white;
}

.view-text a{
  color: white;
  margin-left: 20px;
}
.viewPDF a {
  text-decoration: none;
  color: #045292;
  font-size: 1.2em;
  font-weight: bold;
}
.viewPDF a:hover {
  color: #1f2b5e;
}


.shadowBox
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow {
  -webkit-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 3px 4px -2px rgba(0,0,0,0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 3px 4px -2px rgba(0,0,0,0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}




/* ===== MEDIA QUERIES===== */
/* Phones & Phablets */
@media(max-width:767px){

  } /* end phones & phablets */

